<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxwmpt.demo.dao.system.SysJobMapper">
  <resultMap id="BaseResultMap" type="com.cxwmpt.demo.model.system.SysJob">
    <!--@mbg.generated-->
    <!--@Table sys_job-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="job_status" jdbcType="VARCHAR" property="jobStatus" />
    <result column="job_class" jdbcType="VARCHAR" property="jobClass" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, job_name, job_group, cron_expression, job_status, job_class, create_date, create_id, update_date, update_id, del_flag
  </sql>

  <select id="getAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_job
    <where>
      1=1 and del_flag=false
    </where>
    order by  create_date desc
  </select>
</mapper>