<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxwmpt.demo.dao.system.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.cxwmpt.demo.model.system.SysRole">
    <!--@Table sys_role-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, status as `status`, remark, create_date, create_id, update_date, update_id, del_flag
  </sql>
    <select id="getAllList" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM sys_role
      <where>
      1=1 and del_flag=false
      <if test='map.roleName!=""&amp;&amp; map.roleName!=null'>
        and role_name like concat ('%' , #{map.roleName} , '%')
      </if>
      <if test='map.remark!=""&amp;&amp; map.remark!=null'>
        and remark like concat ('%' , #{map.remark} , '%')
      </if>
    </where>
      order by  create_date desc
    </select>
</mapper>