
#app-header .layui-nav .layui-nav-item a,
.nepadmin-tabs-wrap .nepadmin-tabs-menu li:hover,
.nepadmin-tabs-wrap .nepadmin-tabs-active,
.nepadmin-tabs-wrap .nepadmin-tabs-close:hover,
.nepadmin-tabs-wrap .nepadmin-tabs-action:hover,
.nepadmin-grid:hover > p,
.nepadmin-cell-arrow:before,
.nepadmin-breadcrumb a:hover,
.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:hover,
.nepadmin-tabs-wrap .nepadmin-tabs-action:hover {
    color: #171e2d !important;
}
.layui-table {
    color: #595d68;
}
/* 让表格多行显示
.layui-table .layui-table-cell{
    height:auto;
    overflow:visible;
    text-overflow:inherit;
    white-space:normal;
}
*/

#app-header .layui-nav-bar,
.layui-bg-black {
    background-color: #5a8bff !important;
}

/* 网站主色调 */
.nepadmin-c-blue,
#app-sidebar .layui-logo,
#app-sidebar .layui-logo span b,
.nepadmin-grid:hover .layui-icon,
.nepadmin-cell-selected,
.layui-laypage a:hover,
.layui-laydate-footer span[lay-type='date'],
.layui-laydate .layui-laydate-footer span:hover,
.layui-dropdown .layui-dropdown-option:hover,
.layui-laydate td.layui-this,
.nepadmin-laydate-full td.layui-this .laydate-day-mark {
    color: #5a8bff !important;
}
.nepadmin-tabs-wrap li.nepadmin-tabs-active:hover .nepadmin-tabs-ball,
.nepadmin-tabs-wrap li.nepadmin-tabs-active .nepadmin-tabs-ball,
#app-sidebar .layui-nav-tree .layui-nav-bar,
.layui-bg-blue,
.layui-layer-prompt .layui-layer-btn a.layui-layer-btn0,
.layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0,
.layui-laypage .layui-laypage-curr .layui-laypage-em,
.layui-laydate li.layui-this,
.layui-laydate td.layui-this,
.layui-form-select dl dd.layui-this {
    background-color: #5a8bff !important;
}

.layui-form-select dl dd.layui-this {
    border-radius: 10px;
    border: 5px solid #fff;
}
.nepadmin-br-blue,
#app-sidebar .layui-logo span,
.nepadmin-linecard,
.layui-layer-prompt .layui-layer-btn a.layui-layer-btn0,
.layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0,
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
    border-color: #5a8bff !important;
}

/* 侧边导航的背景色 */
#app-sidebar,
#app-sidebar .layui-nav-itemed .layui-nav-child {
    background-color: #252834 !important;
}
/* 侧边导航的选中色 */
.nepadmin-sidebar-shrink #app-sidebar .layui-nav-itemed,
#app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this,
#app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this a,
#app-sidebar .layui-nav-tree .layui-this,
#app-sidebar .layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
    background-color: #1c1f27 !important;
}

/* 网站白色调 */
#app-sidebar .layui-logo span,
#app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this,
#app-sidebar .layui-nav-tree .layui-nav-child dd.layui-this a,
#app-sidebar .layui-nav-tree .layui-this,
#app-sidebar .layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover,
.layui-nav .layui-nav-child dd.layui-this,
.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav .layui-this,
.layui-nav .layui-this > a,
.layui-nav .layui-this > a:hover,
.layui-layer-prompt .layui-layer-btn a.layui-layer-btn0,
.layui-layer-admin-modal .layui-layer-btn a.layui-layer-btn0 {
    color: #fff !important;
}
#app-header,
.nepadmin-tabs-wrap,
.nepadmin-tabs-wrap .nepadmin-tabs-menu li,
.nepadmin-tabs-wrap .nepadmin-tabs-action,
.layui-form-checkbox,
.layui-form-select dl dd.layui-disabled,
.layui-btn-primary,
.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2,
.layui-dropdown .layui-dropdown-select {
    background-color: #fff !important;
}

/**修改 table 样式 */
.layui-table thead tr,
.layui-table tbody tr:hover,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool {
    background-color: #f6f6f6 !important;
}

.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
    background-color: #f6f6f6 !important;
}

.layui-badge-rim,
.layui-colla-content,
.layui-colla-item,
.layui-collapse,
.layui-elem-field,
.layui-form-pane .layui-form-item[pane],
.layui-form-pane .layui-form-label,
.layui-input,
.layui-layedit,
.layui-layedit-tool,
.layui-quote-nm,
.layui-select,
.layui-tab-bar,
.layui-tab-card,
.layui-tab-title,
.layui-tab-title .layui-this:after,
.layui-textarea {
    border-color: #f6f6f6;
}

.layui-btn-group .layui-btn-primary:first-child {
    border-color: #eee;
}

.layui-table[lay-skin='line'] td,
.layui-table[lay-skin='line'] th {
}
.nepadmin-table-full {
    padding: 0;
}
.nepadmin-table-full .layui-table,
.nepadmin-table-full .layui-table-view {
    margin: 0;
}
.nepadmin-table-full .layui-table-view {
    border-top: none;
    border-bottom: none;
}

#app-sidebar .layui-logo span {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: normal;
}
#app-sidebar .layui-logo i {
    font-style: normal;
    border-bottom: 1px solid #aaa;
}

#app-header,
#app-header .layui-nav .layui-nav-item {
    line-height: 50px;
    height: 50px;
}

#app-header .layui-icon-triangle-d {
    font-size: 12px !important;
}

#app-sidebar .layui-nav {
    background: transparent;
}
#app-sidebar .layui-nav .layui-nav-item a:hover {
    background: transparent;
}
#app-sidebar .layui-nav-tree .layui-nav-bar {
    width: 3px;
    left: auto;
    right: 0;
}
#app-sidebar .layui-nav-itemed .layui-nav-child a {
    font-size: 12px;
    padding-left: 50px;
}

#app-sidebar .layui-nav .layui-nav-mored,
#app-sidebar .layui-nav-itemed > a .layui-nav-more {
    margin-top: -6px;
}
#app-sidebar .layui-nav .layui-nav-more {
    border-width: 4px;
}
#app-sidebar .layui-nav .layui-nav-item {
    color: #aaadb2;
}
#app-sidebar .layui-nav-tree .layui-nav-item > a {
    height: 54px;
    line-height: 54px;
}
#app-sidebar .layui-icon {
    display: inline-block;
    width: 25px;
    margin-right: 8px;
}
#app-sidebar .layui-nav .layui-nav-item a {
    user-select: none;
    font-size: 16px;
    line-height: 64px;
    height: 64px;
}
#app-sidebar .layui-nav .layui-nav-item dd a {
    line-height: 54px;
    height: 54px;
    font-size: 14px;
}

#app-sidebar .layui-nav .layui-nav-item a .layui-icon {
    font-size: 18px;
}

#app-header {
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 50px;
}
#app-header .layui-nav {
    padding: 0;
}
#app-header .layui-search-input {
    background: transparent;
    margin-top: 5px;
    border: none;
}
#app-header .layui-search-input:focus {
    box-shadow: none;
}

#app-header .layui-nav-bar {
    height: 1px;
}
#app-header .layui-nav-child {
    border: none;
    top: 50px;
}
#app-header .layui-nav-item .layui-icon {
    font-size: 16px;
}
#app-header .layui-nav-more {
    display: none;
}
#app-header .message-dot {
    top: 40%;
    right: 0;
}

.nepadmin-tabs-hidden {
    display: none;
}
.nepadmin-tabs-wrap {
    z-index: 999;
    position: fixed;
    top: 50px;
    white-space: nowrap;
    padding: 0 80px 0 30px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.nepadmin-tabs-wrap .nepadmin-tabs-menu {
    position: relative;
    transition: left 0.3s;
}

.nepadmin-tabs-wrap .nepadmin-tabs-menu li,
.nepadmin-tabs-wrap .nepadmin-tabs-action {
    text-align: center;
    border-right: 1px solid #f1f1f1;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    transition: all 0.3s ease;
}
.nepadmin-tabs-wrap .nepadmin-tabs-action:hover,
.nepadmin-tabs-wrap .nepadmin-tabs-menu li:hover {
    background: #f1f1f1 !important;
}

.nepadmin-tabs-wrap .nepadmin-tabs-menu li {
    display: inline-block;
    padding-left: 25px;
    line-height: 38px;
    color: #999;
    user-select: none;
}
.nepadmin-tabs-wrap .nepadmin-tabs-ball {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #f1f1f1;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
    transition: background 0.3s ease;
}

.nepadmin-tabs-wrap .nepadmin-tabs-close {
    color: #f1f1f1;
    font-size: 10px;
    margin-left: 10px;
    height: 36px;
    width: 30px;
    display: inline-block;
    transition: color 0.3s ease;
}

.nepadmin-tabs-wrap .nepadmin-tabs-action {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 1;
    width: 30px;
    color: #999;
}
.nepadmin-tabs-wrap .nepadmin-tabs-next {
    left: auto;
    right: 31px;
    border-left: 1px solid #f1f1f1;
}
.nepadmin-tabs-wrap .nepadmin-tabs-down {
    left: auto;
    right: 0;
}

.nepadmin-lead {
    font-weight: 300;
}
.nepadmin-ignore {
    font-size: 14px;
    color: #999;
}

.nepadmin-pad30 {
    padding: 30px !important;
}
.nepadmin-pad20 {
    padding: 20px !important;
}
.nepadmin-pad10 {
    padding: 20px !important;
}
.nepadmin-pad5 {
    padding: 20px !important;
}
.nepadmin-pad0 {
    padding: 0px !important;
}
.nepadmin-pad-tb20 {
    padding: 20px 0 !important;
}
.nepadmin-pad-tb10 {
    padding: 10px 0 !important;
}
.nepadmin-pad-tb5 {
    padding: 5px 0 !important;
}
.nepadmin-pad-r20 {
    padding-right: 20px !important;
}
.nepadmin-pad-r10 {
    padding-right: 10px !important;
}
.nepadmin-pad-r5 {
    padding-right: 5px !important;
}
.nepadmin-pad-b20 {
    padding-bottom: 20px !important;
}
.nepadmin-pad-b10 {
    padding-bottom: 10px !important;
}
.nepadmin-pad-b5 {
    padding-bottom: 5px !important;
}
.nepadmin-pad-t20 {
    padding-top: 20px !important;
}
.nepadmin-pad-t10 {
    padding-top: 10px !important;
}
.nepadmin-pad-t5 {
    padding-top: 5px !important;
}
.nepadmin-pad-l20 {
    padding-left: 20px !important;
}
.nepadmin-pad-l10 {
    padding-left: 10px !important;
}
.nepadmin-pad-l5 {
    padding-left: 5px !important;
}

.nepadmin-mar30 {
    margin: 30px !important;
}
.nepadmin-mar20 {
    margin: 20px !important;
}
.nepadmin-mar10 {
    margin: 20px !important;
}
.nepadmin-mar5 {
    margin: 20px !important;
}
.nepadmin-mar0 {
    margin: 0px !important;
}
.nepadmin-mar-tb20 {
    margin: 20px 0 !important;
}
.nepadmin-mar-tb10 {
    margin: 10px 0 !important;
}
.nepadmin-mar-tb5 {
    margin: 5px 0 !important;
}
.nepadmin-mar-r20 {
    margin-right: 20px !important;
}
.nepadmin-mar-r10 {
    margin-right: 10px !important;
}
.nepadmin-mar-r5 {
    margin-right: 5px !important;
}
.nepadmin-mar-b20 {
    margin-bottom: 20px !important;
}
.nepadmin-mar-b10 {
    margin-bottom: 10px !important;
}
.nepadmin-mar-b5 {
    margin-bottom: 5px !important;
}
.nepadmin-mar-t20 {
    margin-top: 20px !important;
}
.nepadmin-mar-t10 {
    margin-top: 10px !important;
}
.nepadmin-mar-t5 {
    margin-top: 5px !important;
}
.nepadmin-mar-l20 {
    margin-left: 20px !important;
}
.nepadmin-mar-l10 {
    margin-left: 10px !important;
}
.nepadmin-mar-l5 {
    margin-left: 5px !important;
}

.nepadmin-gray {
    filter: grayscale(100%);
}
.layui-circle {
    border-radius: 100% !important;
}

.layui-form-checked span,
.layui-form-checked:hover span,
.layui-form-checked[lay-skin='primary'] i,
.layui-form-onswitch,
.layui-bg-green {
    background-color: #00d57b !important;
}

.layui-form-checked i,
.layui-form-checked:hover i {
    color: #00d57b;
}

/* 修改多选框的颜色 */
.layui-form-checked[lay-skin='primary'] i {
    border-color: #04b96d;
}

.layui-form-checked[lay-skin='primary'] span {
    background-color: transparent !important;
}

.layui-bg-red {
    background-color: #f25657 !important;
}
.layui-bg-orange {
    background-color: #fab600 !important;
}
.layui-bg-gray {
    background-color: #eee !important;
}
.layui-bg-white {
    background-color: #fff !important;
}
.nepadmin-c-green {
    color: #00d57b !important;
}
.nepadmin-c-orange {
    color: #fab600 !important;
}
.nepadmin-c-red {
    color: #f25657 !important;
}
.nepadmin-c-gray {
    color: #aaadb2 !important;
}

.nepadmin-br-green {
    border-color: #00d57b !important;
}
.nepadmin-br-orange {
    border-color: #00d57b !important;
}
.nepadmin-br-red {
    border-color: #f25657 !important;
}
.nepadmin-br-gray {
    border-color: #aaadb2 !important;
}

.nepadmin-rle {
    position: relative;
}
.nepadmin-aler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.nepadmin-alel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.nepadmin-fl {
    float: left;
}
.nepadmin-fr {
    float: right;
}
.nepadmin-tc {
    text-align: center;
}
.nepadmin-tr {
    text-align: right;
}
.nepadmin-tl {
    text-align: left;
}
.nepadmin-font-12 {
    font-size: 12px !important;
}
.nepadmin-font-14 {
    font-size: 14px !important;
}
.nepadmin-bold {
    font-weight: bold !important;
}

.nepadmin-avatar {
    position: relative;
    height: 40px;
    width: 40px;
    display: inline-block;
    overflow: hidden;
}
.nepadmin-avatar-lg {
    height: 60px;
    width: 60px;
}
.nepadmin-avatar-xs {
    height: 20px;
    width: 20px;
}
.nepadmin-avatar img {
    height: 100%;
    width: 100%;
    display: block;
}
.nepadmin-avatar .layui-badge-dot {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
}
.nepadmin-avatar,
.nepadmin-avatar img {
    border-radius: 5px;
}

.layui-card {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.layui-card .layui-card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.layui-card .layui-card-cover {
    height: 200px;
    overflow: hidden;
}
.layui-card .layui-card-cover img {
    width: 100%;
    min-height: 100%;
}
.layui-card .layui-card-extra {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 1;
    line-height: 40px;
    padding-right: 15px;
}
.layui-card .layui-card-footer {
    padding: 10px;
    line-height: 36px;
    text-align: right;
    background: #f9f9f9;
}
.nepadmin-linecard {
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    padding: 15px 25px;
    line-height: 24px;
    border-left-width: 2px;
    border-left-style: solid;
    background: #fff;
    transition: background 0.3s ease;
}
.nepadmin-linecard:hover {
    background: #f8fafe;
}
.nepadmin-linecard.nepadmin-br-green:hover {
    background: #f6fdfa;
}
.nepadmin-linecard.nepadmin-br-red:hover {
    background: #fff8f6;
}
.nepadmin-linecard.nepadmin-br-gray:hover {
    background: #f6f6f6;
}

.nepadmin-linecard:last-child {
    margin-bottom: 0;
}
.nepadmin-linecard-title {
    padding-bottom: 12px;
    font-size: 16px;
}
.nepadmin-linecard-text {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    padding-right: 5px;
}

.nepadmin-grid {
    text-align: center;
    /*
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      margin:0px 0px -1px -1px;
      */
    border-radius: 5px;
    padding: 15px 0;
    transition: background 0.3s ease;
    cursor: pointer;
}
.nepadmin-grid > p {
    color: #999;
    font-size: 14px;
}
.nepadmin-grid > p,
.nepadmin-grid .layui-icon {
    transition: color 0.3s ease;
}
.nepadmin-grid .layui-icon {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 10px;
}

.nepadmin-cell {
    padding: 7px 16px;
    clear: both;
    font-size: 12px !important;
    cursor: pointer;
    position: relative;
    transition: background 0.2s ease-in-out;
}
.nepadmin-cell .nepadmin-avatar {
    float: left;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.nepadmin-cell .nepadmin-avatar-xs {
    top: 4px;
}
.nepadmin-cell-arrow:before {
    font-family: 'layui-icon', 'nep-icon' !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e859';
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    height: 20px;
}
.nepadmin-cell:hover {
    background: #f6f6f6;
}
.nepadmin-cell-selected,
.nepadmin-cell-selected:hover {
    background: #f8fafe;
}
.nepadmin-cell-title {
    line-height: 28px;
    font-size: 14px;
}
.nepadmin-cell-label {
    line-height: 1.2;
    font-size: 12px;
    color: #999;
    padding-bottom: 4px;
}
.nepadmin-cell-title,
.nepadmin-cell-label {
    padding-right: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.nepadmin-cell-extra {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 16px;
    display: inline-block;
    height: 16px;
    color: #999;
}
.nepadmin-cell-arrow .nepadmin-cell-extra {
    right: 32px;
}
.nepadmin-cell-disabled {
}

.layui-nav .layui-nav-child dd.layui-this,
.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav .layui-this,
.layui-nav .layui-this > a,
.layui-nav .layui-this > a:hover {
    background: #f6f6f6;
}

.layui-layout-admin .layui-body {
    top: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 15px;
}
.layui-layout-admin .nepadmin-tabs-body {
    padding-top: 86px;
    float: left;
}

#app-sidebar,
#app-header .layui-layout-left,
.layui-layout-admin .layui-body {
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

/*
修改 面包导航屑 的样式
*/
.nepadmin-breadcrumb {
    visibility: visible;
    padding: 15px 20px 0 20px;
}
.nepadmin-breadcrumb > * {
    font-size: 12px;
}

/*
    修改 app-body 的样式
*/
#app-body .layui-fluid {
    margin-top: 15px;
}
#app-body .layui-fluid > .layui-table-view,
#app-body .layui-fluid > .layui-card > .layui-table-view {
    margin: 0;
}
#app-body .nepadmin-body-tabs {
    margin: 0;
}

/*
    修改 侧边导航 收缩起来的样式
*/
.nepadmin-sidebar-shrink #app-sidebar {
    left: 0;
    width: 52px;
}
.nepadmin-sidebar-shrink #app-sidebar .layui-nav-item .layui-nav-child {
    display: none;
}
.nepadmin-sidebar-shrink #app-sidebar .layui-logo {
    height: 0px;
}

.nepadmin-sidebar-shrink .layui-body,
.nepadmin-sidebar-shrink #app-header .layui-layout-left,
.nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-menu,
.nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-prev {
    left: 56px;
}
.nepadmin-sidebar-shrink #app-header .layui-icon-shrink-right:before {
    content: '\e66b';
}

/*
.layui-badge,
.layui-badge-rim{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 50px;
    font-size: 14px;
    padding:2px 12px;
    position: relative;
    top:-2px;
}
.layui-badge-rim{
    top:-3px;
}
*/

/*
覆盖 layui 本来的样式
*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}
.layui-input:hover,
.layui-textarea:hover,
.layui-input:focus,
.layui-textarea:focus {
    border-color: #eee;
}
.layui-input:focus,
.layui-textarea:focus {
    border-color: #94b2fa !important;
    box-shadow: 0 0 0 3px rgba(90, 139, 255, 0.2);
}

.layui-input,
.layui-select,
.layui-textarea {
    border-radius: 5px;
    border-color: #eee;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/** 修改 select option的选中颜色*/
.layui-form-select dl {
    padding: 0;
    border-color: transparent;
    border-color: #ccc\9;
}
/** 修改单选框的颜色 */
.layui-form-radio > i:hover,
.layui-form-radioed > i {
    color: #00d57b;
}
.layui-form-radio .layui-anim-scaleSpring {
    -webkit-animation-name: none;
    animation-name: none;
}

.layui-tips {
    background: #fffcee;
    color: #ff4911;
    font-size: 12px;
    padding: 10px 15px;
}
.layui-tips .close {
    float: right;
    color: #ffd6ca;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.3s ease;
}
.layui-tips .close:hover {
    color: #ff4911;
}
/** 修改 button 背景色 */
.layui-btn,
.layui-btn-normal {
    background-color: #00d57b;
}
.layui-btn-normal:hover {
    background-color: #5a8bff;
}
.layui-btn-success {
    background-color: #5a8bff;
}
.layui-btn-primary {
    border-color: #5a8bff;
}
.layui-btn-primary:hover {
    border-color: #00d57b;
}
.layui-btn-warm {
    background-color: #fab600;
}
.layui-btn-danger,
.layui-badge,
.layui-badge-dot {
    background-color: #f25657;
}

.layui-btn-disabled,
.layui-btn-disabled:active,
.layui-btn-disabled:hover {
    background-color: #fbfbfb;
}

.layui-layer-admin-modal {
    overflow: hidden;
}
.layui-layer-prompt .layui-layer-btn a,
.layui-layer-admin-modal .layui-layer-btn a {
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
}
.layui-layer-admin-modal .layui-layer-content {
    padding-top: 0;
}

.layui-layer-admin-modal,
.layui-layer-admin-page {
    border-radius: 3px;
}
.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2 {
    font-family: layui-icon;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #aaa;
    transition: all 0.3s ease;
}
.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:hover {
    transform: rotate(90deg);
}
.layui-layer-admin-page .layui-layer-setwin .layui-layer-close2:after {
    content: '\1006';
}

.layui-layer-msg {
    border: none !important;
}
.layui-layer-msg .layui-layer-content {
    padding: 10px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /*
      padding:10px 20px 10px 55px;
      */
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico {
    font-family: 'layui-icon', 'nep-icon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    background: none;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico::before {
    content: '\e8b3';
    color: #fab600;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico1::before {
    content: '\e89d';
    color: #00d57b;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico2::before {
    content: '\e8a1';
    color: #f25657;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico3::before {
    content: '\e8a6';
    color: #fab600;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico4::before {
    content: '\e910';
    color: #171e2d;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico5::before {
    content: '\e782';
    color: #f25657;
}
.layui-layer-dialog .layui-layer-content .layui-layer-ico6::before {
    content: '\e78f';
    color: #00d57b;
}

/* 修改 table 页码按钮背景色 */
/* 修改 tab 导航颜色 */
.layui-tab-title {
    height: 42px;
}
.layui-tab-title li {
    color: #999;
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: #000;
}
.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layui-tab-brief > .layui-tab-title .layui-this:after {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/** 修改 laydate 样式 */
/** 修改 laydate 阴影 */
.layui-laydate .layui-laydate-content {
    font-size: 12px;
}
.layui-laydate,
.layui-laydate-hint {
    box-shadow: 0 0 30px #ddd !important;
    border: 1px solid #eee\9 !important;
}
.layui-laydate .layui-laydate-footer span {
    border: none;
}
.layui-laydate .layui-laydate-content td:hover {
    background: #f6f6f6 !important;
}
.layui-laydate .layui-laydate-header i {
    font-size: 10px;
}
.layui-laydate td {
    border-radius: 6px;
}
.nepadmin-laydate-full .layui-laydate {
    border: none;
    box-shadow: none !important;
}
.nepadmin-laydate-full .layui-laydate-static {
    display: block;
}
.nepadmin-laydate-full .layui-laydate-main,
.nepadmin-laydate-full .layui-laydate-content table {
    width: 100%;
}
.nepadmin-laydate-full .layui-laydate-content {
    font-size: 24px !important;
}
.nepadmin-laydate-full .layui-laydate-content td,
.nepadmin-laydate-full .layui-laydate-content th {
    height: 100px !important;
    width: 100px !important;
}
.nepadmin-laydate-full .laydate-day-mark {
    font-size: 24px;
    line-height: 100px;
    color: #f25657;
}
.nepadmin-laydate-full .laydate-day-mark::after {
    display: none;
    width: 8px !important;
    height: 8px !important;
    background: #f25657 !important;
    right: 14px !important;
    top: 14px !important;
}

.layui-laydate td.layui-this,
.layui-laydate td.layui-this:hover {
    background: #f1f5fd !important;
}
/* laydate 只选择小时的样式 */
.laydate-theme-datehour .laydate-time-list {
    overflow: hidden;
}
.laydate-theme-datehour .laydate-time-list > li {
    width: 100%;
    margin-bottom: 20px;
}
.laydate-theme-datehour .laydate-time-list > li p {
    display: none;
}
.laydate-theme-datehour .laydate-time-list ol {
    height: 100%;
    border: none;
    overflow-y: scroll;
}
.laydate-theme-datehour .laydate-time-list ol li {
    text-align: center;
    padding-left: 0;
    width: 100%;
}
.laydate-theme-datehour .laydate-time-list ol li:after {
    content: ' 点 ';
}

.layui-cell {
    padding: 10px;
    cursor: pointer;
}
.layui-cell:hover {
    background: #f6f6f6;
}
.layui-cell .layui-cell-cover {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 10px;
}
.layui-cell .layui-cell-cover img {
    display: block;
    width: 100%;
    height: 100%;
}
.layui-cell .layui-cell-title {
    line-height: 18px;
}
.layui-cell .layui-cell-info {
    font-size: 12px;
    color: #999;
}
.layui-cell .layui-cell-content {
}

/* 为 IE8下 table header 设置背景色及tr的hover效果，默认带着 CSS3 属性IE8不识别 */
.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool {
    background: #f1f1f1;
}
.layui-table-tool {
    background: #fff !important;
}
@media screen and (max-width: 991px) {
    .nepadmin-sidebar-shrink #app-sidebar {
        width: 0;
    }
    .nepadmin-sidebar-shrink .layui-body,
    .nepadmin-sidebar-shrink #app-header .layui-layout-left,
    .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-menu,
    .nepadmin-sidebar-shrink .nepadmin-tabs-wrap .nepadmin-tabs-prev {
        left: 0;
    }
}

/*适配手机尺寸*/
@media screen and (max-width: 768px) {
    .layui-layout-admin .nepadmin-tabs-body {
        padding-top: 50px;
    }

    #app-header ul.layui-nav {
        padding: 0 10px;
    }
    #app-header ul.layui-nav .layui-nav-child {
        left: auto;
        right: 0px;
        min-width: 230px;
    }
    #app-header ul.layui-nav .layui-nav-child hr {
        background: #f1f1f1;
    }
    #app-header .layui-nav .layui-nav-item > a {
        padding: 0 15px;
    }

    #app-header {
        left: 240px;
        transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    }
    #app-header .layui-layout-left {
        left: 0;
    }
    .layui-body {
        position: relative;
        width: 100%;
    }
    .nepadmin-tabs-wrap {
        display: none;
    }

    .nepadmin-sidebar-shrink .layui-body,
    .nepadmin-sidebar-shrink #app-header .layui-layout-left {
        left: 0px;
    }
    .nepadmin-sidebar-shrink .layui-body,
    .nepadmin-sidebar-shrink #app-header {
        left: 0px;
    }

    .layui-label-block-xs .layui-form-item > label.layui-form-label {
        display: inline-block;
        text-align: left;
        float: none;
        display: block;
        width: auto;
        padding-left: 0;
        color: #999;
        padding-bottom: 5px;
    }
    .layui-label-block-xs .layui-form-item > .layui-input-block,
    .layui-label-block-xs .layui-form-item > .layui-input-inline,
    .layui-label-hide-xs .layui-form-item > .layui-input-block,
    .layui-label-hide-xs .layui-form-item > .layui-input-inline {
        margin-left: 0;
    }

    .layui-label-hide-xs .layui-form-item > label.layui-form-label {
        display: none;
    }
}

/*箭头向上*/
.nepadmin-arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.layui-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
}

.layui-dropdown .nepadmin-arrow-up {
    position: absolute;
    top: -6px;
    left: 10px;
}
.layui-dropdown-right .nepadmin-arrow-up {
    left: auto;
    right: 10px;
}
.layui-dropdown .layui-dropdown-select {
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.layui-dropdown .layui-dropdown-option {
    position: relative;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.layui-dropdown .layui-dropdown-option .layui-icon {
    margin-right: 10px;
    font-size: 14px;
}
.layui-dropdown .layui-dropdown-option .layui-dropdown-select {
    position: absolute;
    top: 0;
    display: none;
}
.layui-dropdown .layui-dropdown-option:hover {
    background: #f6f9ff;
}
.layui-dropdown .layui-dropdown-option:hover > .layui-dropdown-select {
    display: block;
}
.layui-dropdown .layui-icon-right {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa;
}
.layui-dropdown .layui-dropdown-title {
    padding-right: 20px;
}
